.nav{
    position:fixed;
    height:30px;
    top:0;
    z-index: 1;
    width:100%;
    padding:20px;
    display: flex;
    justify-content:space-between;
    transition-timing-function: ease-in;
    transition:all 0.5s;
}

.nav_logo{
    width: 100px;
    position:fixed;
    left:20px;
    object-fit: contain;
}

.nav_avatar{
    width: 40px;
    object-fit: contain;
    position:fixed;
    right:20px;
}

.nav_black{
    background-color: #111;
}